@(game: GameInformation)(implicit request: controllers.Application.AuthenticatedRequest[_])

@main(Messages("game.title", game.id)) {
  <div class="row">
    <div class="span-md-12">
      <h1>@Messages("game.title", game.id)</h1>
      <p>
        <dl>
          <dt>@Messages("game.creator")</dt>
          <dd>@Messages("global.user.name.anonymous", game.creator.id)</dd>
          @if(!game.isWaiting) {
            <dt>@Messages("game.opponent")</dt>
            <dd>@Messages("global.user.name.anonymous", game.opponent.get.id)</dd>
          }
        </dl>
      </p>
      @if(game.isWaiting) {
        <p>@Messages("game.waiting")</p>
      }
    </div>
  </div>
}
